.room-users{
    width: 100%;
    height: 100%;
    margin: 1em 0;
    color: #ffffff;
}
.users-container{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.users{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
}
.users-header{
    font-size: 1.5em;
    text-align: center;
}
.active-container{
    width: 80%;
    margin: 0 auto;
}
.active-item{
    overflow-wrap: break-word;
    margin: 0.5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.users-name{
    width: 90%;
    font-size: 1.2em;
    margin:  0.5em 0;
}
.leave-room-button-container{
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin: 1em 0;
}
.leave-room-button-container{
    width: 70%;
}

.active-user{
color: #ff5735;
}

@media screen and (max-width: 800px) {
    .users{
        margin-bottom: 2em;
    }
    .room-users{
        height: unset;
    }
}

@media screen and (max-height: 600px) {
    .users{
        margin-bottom: 1em;
    }
    .room-users{
        height: unset;
    }
}